@import "tailwindcss";

@theme {
  --default-font-family: "Asap Condensed", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans: "Asap Condensed", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Playfair Display", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Color Palette */
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-tertiary: hsl(var(--tertiary));
  --color-tertiary-foreground: hsl(var(--tertiary-foreground));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-border: hsl(var(--border));
  --color-shadow: hsl(var(--shadow));
  --color-footer-background: hsl(var(--footer-background));
  --color-footer-foreground: hsl(var(--footer-foreground));
  --color-footer-link: hsl(var(--footer-link));
  --color-footer-link-hover: hsl(var(--footer-link-hover));
}

@layer base {
  /* Light Theme */
  :root {
    --primary: 131 100% 64%; /* Screaming Green */
    --primary-foreground: 213 61% 10%; /* Rich Black */
    --secondary: 197 93% 29%; /* Lapiz Lazuli */
    --secondary-foreground: 0 0% 100%; /* White */
    --tertiary: 263 47% 14%; /* Dark Purple */
    --tertiary-foreground: 0 0% 100%; /* White */
    --background: 220 0% 98%; /* Light background, Seasalt */
    --foreground: 220 15% 20%; /* Dark text, Gunmetal */
    --muted: 115 32% 93%; /* Honeydew for muted elements */
    --muted-foreground: 213 61% 10%; /* Darker muted text */
    --card: 220 15% 100%; /* White background for cards */
    --card-foreground: 220 15% 20%;
    --border: 220 15% 90%; 
    --shadow: 220 15% 85%;
    --footer-background: 166 56% 11%; /* Dark Green */
    --footer-foreground: 162 39% 84%; /* Mint for footer text */
    --footer-link: 154 67% 80%; /* Bluish Green */
    --footer-link-hover: 141 91% 62%; /* Brighter Green on hover */
  }

  /* Dark Theme */
  .dark {
    --primary: 131 60% 64%; /* Emerald Green */
    --primary-foreground: 213 61% 10%; /* Rich Black */
    --secondary: 197 50% 23%; /* Muted Lapiz Lazuli */
    --secondary-foreground: 0 0% 100%; /* White */
    --tertiary: 263 47% 14%; /* Dark Purple */
    --tertiary-foreground: 0 0% 100%; /* White */
    --background: 220 19% 5%; /* Very Dark Blue */
    --foreground: 0 0% 100%; /* White */
    --muted: 220 15% 15%; 
    --muted-foreground: 220 15% 60%;
    --card: 220 15% 25%; /* Darker background for cards */
    --card-foreground: 220 15% 85%;
    --border: 220 15% 30%;
    --shadow: 220 15% 10%;
    --footer-background: 196 90% 16%; /* Dark Blue */
    --footer-foreground: 162 39% 84%; /* Mint for footer text */
    --footer-link: 167 40% 88%; /* Muted Lapiz Lazuli for footer links */
    --footer-link-hover: 153 95% 77%; /* Brighter Green on hover */
  }
  
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  @apply min-h-screen w-full bg-background text-foreground;
  font-family: var(--default-font-family);
  
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.auth-button{
  @apply flex h-12 w-full items-center justify-center rounded-md bg-primary text-primary-foreground font-bold text-base hover:bg-green-400 transition-colors focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 mt-4;
}

.input-field{
  @apply w-full h-12 px-4 py-2 border border-border rounded-md focus:outline-none focus:ring-2 focus:ring-primary/90 focus:border-primary/90 mt-2 placeholder:text-foreground/50 text-foreground;
}

.social-auth-button{
  @apply flex h-12 w-full items-center justify-center rounded-md bg-white border border-gray-300 text-foreground font-bold text-base hover:bg-gray-100 transition-colors focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 mt-4;
}

.carousel-indicator{
  @apply h-2 w-2 bg-gray-300 rounded-full mx-1 cursor-pointer;
}

.active-carousel-indicator{
  @apply bg-white w-12 h-2 mx-1 cursor-pointer rounded-md;
}

.navlink {
  @apply relative inline-flex items-center font-medium text-foreground transition-colors duration-300 pb-1;
}

.navlink::after {
  content: "";
  @apply absolute left-0 bottom-0 h-[4px] w-0 bg-primary transition-all duration-300;
}

.navlink:hover::after,
.navlink:focus-visible::after {
  @apply w-full;
}
.section-badge{
  @apply rounded-full h-6 md:h-8 xl:h-10 px-4 sm:px-6 text-foreground/80 text-xs sm:text-sm md:text-base font-medium flex items-center justify-center mb-4 border-2 border-foreground/30;
}
.section-title {
  @apply text-foreground text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-display font-bold text-center max-w-full sm:max-w-2xl md:max-w-3xl xl:max-w-[508px] mx-auto mb-3 sm:mb-4 md:mb-6 xl:mb-8;
}

.section-paragraph {
  @apply text-foreground/70 text-base md:text-lg lg:text-[24px] font-sans text-center max-w-full sm:max-w-4xl md:max-w-5xl mx-auto mb-6 sm:mb-8 md:mb-10;
}