@import "tailwindcss";

@theme {
  --default-font-family: "Asap Condensed", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans: "Asap Condensed", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Color Palette */
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-tertiary: hsl(var(--tertiary));
  --color-tertiary-foreground: hsl(var(--tertiary-foreground));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-border: hsl(var(--border));
  --color-shadow: hsl(var(--shadow));
}

@layer base {
  /* Light Theme */
  :root {
    --primary: 131 100% 64%; /* Screaming Green */
    --primary-foreground: 213 61% 10%; /* Rich Black */
    --secondary: 197 93% 29%; /* Lapiz Lazuli */
    --secondary-foreground: 0 0% 100%; /* White */
    --tertiary: 263 47% 14%; /* Dark Purple */
    --tertiary-foreground: 0 0% 100%; /* White */
    --background: 220 0% 98%; /* Light background, Seasalt */
    --foreground: 220 15% 20%; /* Dark text, Gunmetal */
    --muted: 115 32% 93%; /* Honeydew for muted elements */
    --muted-foreground: 213 61% 10%; /* Darker muted text */
    --card: 220 15% 100%; /* White background for cards */
    --card-foreground: 220 15% 20%;
    --border: 220 15% 90%; 
    --shadow: 220 15% 85%;
  }

  /* Dark Theme */
  .dark {
    --primary: 131 60% 64%; /* Emerald Green */
    --primary-foreground: 213 61% 10%; /* Rich Black */
    --secondary: 197 50% 23%; /* Muted Lapiz Lazuli */
    --secondary-foreground: 0 0% 100%; /* White */
    --tertiary: 263 47% 14%; /* Dark Purple */
    --tertiary-foreground: 0 0% 100%; /* White */
    --background: 220 19% 5%; /* Very Dark Blue */
    --foreground: 220 15% 85%; /* Light text, Light Gray */
    --muted: 220 15% 15%; 
    --muted-foreground: 220 15% 60%;
    --card: 220 15% 25%; /* Darker background for cards */
    --card-foreground: 220 15% 85%;
    --border: 220 15% 30%;
    --shadow: 220 15% 10%;
  }
  
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.auth-button{
  @apply flex h-12 w-full items-center justify-center rounded-md bg-primary text-primary-foreground font-bold text-base hover:bg-green-400 transition-colors focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 mt-4;
}

.input-field{
  @apply w-full h-12 px-4 py-2 border border-border rounded-md focus:outline-none focus:ring-2 focus:ring-primary/90 focus:border-primary/90 mt-2;
}

.social-auth-button{
  @apply flex h-12 w-full items-center justify-center rounded-md bg-white border border-gray-300 text-foreground font-bold text-base hover:bg-gray-100 transition-colors focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 mt-4;
}

.carousel-indicator{
  @apply h-2 w-2 bg-gray-300 rounded-full mx-1 cursor-pointer;
}

.active-carousel-indicator{
  @apply bg-white w-12 h-2 mx-1 cursor-pointer rounded-md;
}